[submodule "gameboy-disassembler"]
	path = gameboy-disassembler
	url = git@github.com:ericwoude/gameboy-disassembler.git
[submodule "gb-test-roms"]
	path = gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "Gameboy-logs"]
	path = Gameboy-logs
	url = https://github.com/wheremyfoodat/Gameboy-logs.git
[submodule "gameboy-doctor"]
	path = gameboy-doctor
	url = https://github.com/robert/gameboy-doctor
[submodule "mealybug-tearoom-tests"]
	path = mealybug-tearoom-tests
	url = https://github.com/mattcurrie/mealybug-tearoom-tests.git
[submodule "gbmicrotest"]
	path = gbmicrotest
	url = https://github.com/aappleby/gbmicrotest.git
